* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.melandramzi.com%2Ffile%2F2014%2F06%2Fcenote.jpg&f=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    font-size: 3rem;
}

h1 span {
    background-color: aquamarine;
    border-radius: 10%;
}

#break{
    width: 100%;
    height: 75px;
    margin: auto;
    display: inline-block;
    background-color: blueviolet;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/12/30/snake-145808_960_720.png);
    background-size: 150px;
    background-repeat: repeat-x;
}

.game_board {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 2000px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(20% - 5px);
    height: calc(25% - 2px);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active{
    transform: scale(.95);
    transition: transform .2s;
}

.card.flip {
    transform: rotateX(180deg);
    transition: transform 1s;
}

.front-face,
.back-face {
    position: absolute;
    padding: 20px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateX(180deg);
    background: #bbd412;
    border-radius: 5px 15px;
}

.back-face {
    background: #bbd412;
    height: 175px;
    width: 175px;
    border-radius: 15px 5px;
}